<div class="card w-100 my-5" >
    <div class="card-body">
        <h1 class="card-title text-center">Cadastro de Equipamento</h1>
        <form action="">
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input type="text" [(ngModel)]="equipamento.identificacao" name="equipamento.identificacao" class="form-control" placeholder="digite seu nome" id="identification">
                        <label for="identification">Identificação</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input  type="text" [(ngModel)]="equipamento.marca" name="equipamento.marca" class="form-control" placeholder="digite seu sobrenome" id="brand">
                        <label for="brand">Marca</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input  type="text" [(ngModel)]="equipamento.modelo" name="equipamento.modelo"  class="form-control" placeholder="Modelo" id="model">
                        <label for="model">Modelo</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input type="text" class="form-control" [(ngModel)]="equipamento.codigo" name="equipamento.codigo" placeholder="Codigo Barras" id="code_bar">
                        <label for="code_bar">Codigo Barras</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div>
                    <div class="form-floating mb-4" style="height: 150px;">
                        <textarea type="text" [(ngModel)]="equipamento.descricao" name="descricao" class="form-control h-100"  placeholder="Codigo Barras"  cols="30" rows="4"></textarea>
                        <label for="description">Descrição</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-group mt-4">
                    <a type="button" class="btn btn-outline-danger float-start" routerLink="/">Cancelar</a>
                    <a type="button" class="btn btn-outline-success float-end" (click)="saveEquipamento()" >Enviar</a>
                </div>
            </div>
        </form>
    </div>
</div>

