<div class="container" >
    <div class="jumbotron mt-3 bg-light p-3 rounded">
      <h1 class="text-center text-capitalize">{{laboratorio.identificacao}}</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
              <img src="../../../assets/img/laboratorio.jpg" alt="">
          </div>
          <div class="col-6">
            <p>Identificação: {{laboratorio.identificacao}}</p>
            <p>Capacidade: {{laboratorio.capacidade}} alunos</p>
            <p>Localização: {{laboratorio.localizacao}}</p>
            <p>Advertências de uso: {{laboratorio.descricao}}</p>
          </div>
        </div>
      </div>
      <p class="lead">Este exemplo é um rápido exercício para ilustrar como a navbar (na parte inferior) funciona.</p>
      <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Veja a documentação »</a> 
    </div>
  </div>

  <div class="container" >
    <app-aluguel [aluguelt]="laboratorio" style="width: 600px; height: 600px;"></app-aluguel>
  </div>
  