<div class="card w-100 my-5" >
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-9">
                <h1 class="card-title text-center">Laboratorios</h1>
            </div>
            <div class="col-3">
                    <div class="btn-group mr-3" role="group" aria-label="">
                        <a class="btn btn-dark" routerLink="/equipamentos"> 
                            Equipamentos
                        </a>
                        <a class="btn btn-dark" routerLink="/laboratorios">
                            Laboratorios
                        </a>
                    </div>
            </div>
        </div>
        
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr class="text-center">
                    <th>Identificação</th>
                    <th>Localização</th>
                    <th>Capacidade</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let laboratorio of laboratorios" class="text-center text-uppercase cursor" (click)="visualizarLaboratorio(laboratorio)">
                    <td>{{laboratorio.identificacao}}</td>
                    <td>{{laboratorio.localizacao}}</td>
                    <td>{{laboratorio.capacidade}}</td>
                    <td>{{laboratorio.descricao}}</td> 
                    <td>
                        <a type="button" (click)="editLaboratorio(laboratorio)">
                            <img src="../../../assets/img/icon-caneta.png" alt="icone caneta" class="mr-2"  >
                        </a>
                        <a >
                            <img src="../../../assets/img/icon-excluir.png" alt="icone lixeira" >  
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>