<div class="card w-100 my-5" >
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de usuários</h1>
        <form action="">
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input formControlName="nome" type="nome" class="form-control" placeholder="digite seu nome" id="nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input formControlName="sobrenome" type="sobrenome" class="form-control" placeholder="digite seu sobrenome" id="sobrenome">
                        <label for="sobrenome">Sobrenome</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input formControlName="idade" type="idade" class="form-control" placeholder="digite sua idade" id="idade">
                        <label for="idade">Idade</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input formControlName="profissao" type="profissao" class="form-control" placeholder="digite sua profissão" id="profissao">
                        <label for="profissao">Profissão</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-group mt-4">
                    <button type="button" class="btn btn-outline-danger float-start ">Cancelar</button>
                    <button type="button" class="btn btn-outline-success float-end" >Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>