<div class="card w-100 my-5" >
    <div class="card-body">
        <h1 class="card-title text-center">Cadastro de laboratorio</h1>
        <form action="">
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input  type="text" [(ngModel)]="lab.identificacao" name="lab.identificacao" class="form-control" placeholder="digite seu nome">
                        <label for="identification">Identificação</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-4 ">
                        <input  type="text" [(ngModel)]="lab.localizacao" name="lab.localizacao" class="form-control" placeholder="digite seu sobrenome">
                        <label for="location">Localização</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <div class="form-floating mb-4 ">
                        <input  type="number" [(ngModel)]="lab.capacidade" name="lab.capacidade" class="form-control" placeholder="Codigo Barras" id="profissao">
                        <label for="code_bar">Capacidade</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div>
                    <div class="form-floating mb-4" style="height: 150px;">
                        <textarea [(ngModel)]="lab.descricao" name="lab.descricao" class="form-control h-100" placeholder="Codigo Barras" cols="30" rows="4"></textarea>
                        <label for="description">Descrição</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-group mt-4">
                    <a type="button" class="btn btn-outline-danger float-start">Cancelar</a>
                    <a type="button" class="btn btn-outline-success float-end" (click)="save()" >Enviar</a>
                </div>
            </div>
        </form>
    </div>
</div>


