/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.table_radius:hover { 
    box-shadow:  12px 12px 9px #c4c4c4,
                -12px -12px 9px #ffffff;
    cursor: pointer; 
}
.cursor{
    cursor:pointer;
}
.cal-events {
    display: none !important;
}
html { 
    scroll-behavior: smooth;
}