<div class="card w-100 my-5" >
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-9">
                <h1 class="card-title text-center">Equipamentos</h1>
            </div>
            <div class="col-3">
                    <div class="btn-group mr-3" role="group" aria-label="">
                        <a class="btn btn-dark" routerLink="/equipamentos"> 
                            Equipamentos
                        </a>
                        <a class="btn btn-dark" routerLink="/laboratorios">
                            Laboratorios
                        </a>
                    </div>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>identificacão</th>
                    <th>marca</th>
                    <th>modelo</th>
                    <th>codigo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipamento of equipamentos" class="text-center text-uppercase" (click)="redireciona()">
                    <td>{{equipamento.identificacao}}</td>
                    <td>{{equipamento.marca}}</td>
                    <td>{{equipamento.modelo}}</td>
                    <td>{{equipamento.codigo}}</td> 
                    <td>
                        <a href="">
                            <img src="../../../assets/img/icon-caneta.png" alt="icone caneta" class="mr-2" routerLink="/cadastroEquipamento" >
                        </a>
                        <a href="">
                            <img src="../../../assets/img/icon-excluir.png" alt="icone lixeira" >  
                        </a>
                    </td>
                    <td>
                        <img src="" alt="" ngif="" >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
