<div class="container" >
    <div class="jumbotron mt-3 bg-light p-3 rounded">
      <h1 class="text-center text-capitalize">{{equipamento.identificacao}}</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
              <img src="" alt="">
          </div>
          <div class="col-6">

          </div>
        </div>
      </div>
      <p class="lead">Este exemplo é um rápido exercício para ilustrar como a navbar (na parte inferior) funciona.</p>
      <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Veja a documentação »</a> 
    </div>
</div>