<div class="container" >
    <div class="jumbotron mt-3 bg-light p-3 rounded">
      <h1 class="text-center text-capitalize">{{equipamento.identificacao}}</h1>
      <div class="container">
        <div class="row">
          <div class="col-6 text-center">
              <img src="../../../assets/img/equipamento.jpg" alt="" style="width: 300px; height: 300px;">
          </div>
          <div class="col-6">
            <div class="text-capitalize lead">
              <p></p>
              <p></p>
              <p>Identificação: {{equipamento.identificacao}}</p>
              <p>Modelo: {{equipamento.marca}}</p>
              <p>Codigo: {{equipamento.codigo}}</p>
              <p>Advertências de uso: {{equipamento.descricao}}</p>
            </div>
          </div>
        </div>
        <form>
          <div class="row my-4">
            <div class="form-floating m-auto" style="max-width: 700px;">
              <input type="text" class="form-control" [(ngModel)]="aluguel.name" name="aluguel.name" placeholder="digite seu nome" id="nome" required>
              <label for="nome"> Nome Completo</label>
            </div>
            <div class="form-floating mt-4 m-auto" style="max-width: 700px;"> 
              <input type="email" class="form-control" [(ngModel)]="aluguel.email" name="aluguel.email" placeholder="digite seu email" id="email" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row my-4">
            <select class="custom-select custom-select-lg m-auto p-1" [(ngModel)]="time" name="time" style="max-width: 676px; "  required>
              <option selected>Selecione o intervalo de tempo</option>
              <option value="08:00:00">8:00 as 10:00</option>
              <option value="10:00:00">10:00 as 12:00</option>
              <option value="14:00:00">14:00 as 16:00</option>
              <option value="16:00:00">16:00 as 18:00</option>
            </select>
          </div> 
          <div class="row">
            <div class="col-12 text-center">
              <label for="data_aluguel" class="p-3 lead" >Informe a data: </label>
              <input type="date" id="data" name="data" [(ngModel)]="date" name="date" required>
            </div> 
          </div>
          <div class="row">
            <a class="btn btn-lg btn-primary m-auto mt-3" style="max-width: 300px;" (click)="alugarEqui()"  role="button" (click)="scroll(target)">Alugar Equipamento »</a>
          </div>
        </form>
      </div>
    </div>
</div>


<div class="container" style="margin-top: 60px;" #target >
  <app-aluguel [aluguelt]="equipamento" style="width: 300px; height: 300px;"></app-aluguel>
</div>
